<header>
    <div>home view</div>
    <div id="add-category-btn">+</div>
</header>
<div id="content">
    <div id="popup-container"></div>
    <div id="category-list"></div>
</div>
<footer>

</footer>