/*@gridColumns:             12;
@gridColumnWidth:         60px;
@gridGutterWidth:         20px;
@gridRowWidth:            (@gridColumns * @gridColumnWidth) + (@gridGutterWidth * (@gridColumns - 1));*/
html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  height: 100%;
  position: relative;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-tap-highlight-color: transparent;
}
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background: #f0e4e7;
}
#container #recipe-view {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}
#container #home-view {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#container header {
  width: 100%;
  height: 100px;
  background: #232323;
  color: #fff;
  text-align: center;
  line-height: 80px;
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 100px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-tap-highlight-color: transparent;
}
#container header #add-category-btn {
  width: 140px;
  height: 100px;
  background: #232323;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  font-size: 55px;
  color: #ffffff;
  -webkit-tap-highlight-color: #ff0000 !important;
  border-left: 3px solid #3e3e3e;
}
#container header #back-btn {
  width: 140px;
  height: 100px;
  background: #232323;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  border-right: 3px solid #3e3e3e;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-tap-highlight-color: transparent;
}
#content {
  width: 100%;
  height: 100%;
  position: relative;
  /*#wrapper > div {
	    position:absolute;
	    z-index:100;
	    width:100%;

	    
	    background:-webkit-gradient(linear, 0 0, 100% 0, from(#f00), to(#900));
	    border:1px solid #800;
	    -webkit-background-clip:padding-box;
	    -webkit-box-sizing:border-box;
	    -webkit-border-radius:4px;
	    -webkit-box-shadow:inset 1px 1px 0 rgba(255,255,255,0.5);
    }*/

}
#content #wrapper {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 48px;
  left: 0;
  width: 100%;
  background: #aaaaaa;
}
#content #recipe-info {
  padding: 20px;
  font-size: 30px;
}
#content #create-recipe {
  position: absolute;
  z-index: 25;
  width: 100%;
  height: 100%;
  right: 0;
  left: 0;
  top: -100px;
  background: #232323;
  border: 3px solid #3e3e3e;
}
#content #create-recipe #btn-container {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  bottom: 190px;
}
#content #create-recipe #btn-container .save-btn {
  padding: .8em;
  background: #695b8e;
  font-size: 30px;
  display: block;
  position: absolute;
  right: 5%;
  left: 5%;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  top: 0;
  text-align: center;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-tap-highlight-color: transparent;
}
#content #create-recipe #btn-container .cancel-btn {
  padding: .8em;
  background: #695b8e;
  font-size: 30px;
  display: block;
  position: absolute;
  left: 5%;
  right: 5%;
  top: 95px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-tap-highlight-color: transparent;
}
#content #create-recipe #recipe-title-input {
  left: 5%;
  right: 5%;
  top: 20px;
  font-size: 24px;
  height: 60px;
  position: absolute;
}
#content #create-recipe #recipe-content-input {
  font-family: Arial;
  left: 5%;
  right: 5%;
  position: absolute;
  top: 120px;
  font-size: 24px;
  height: 35%;
}
#content #create-recipe .save-btn {
  padding: .8em;
  background: #695b8e;
  font-size: 30px;
  display: block;
  position: absolute;
  right: 5%;
  left: 5%;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  top: 0;
  text-align: center;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-tap-highlight-color: transparent;
}
#content #create-recipe .cancel-btn {
  padding: .8em;
  background: #695b8e;
  font-size: 30px;
  display: block;
  position: absolute;
  left: 5%;
  right: 5%;
  top: 95px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-tap-highlight-color: transparent;
}
#content #popup {
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 100%;
  background: #232323;
  border: 3px solid #3e3e3e;
  top: -100px;
}
#content #popup input#category-input {
  position: absolute;
  left: 5%;
  right: 5%;
  top: 5%;
  font-size: 45px;
  height: 100px;
  display: block;
  z-index: 26;
}
#content #popup #btn-container {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  bottom: 190px;
}
#content #popup #btn-container .save-btn {
  padding: .8em;
  background: #695b8e;
  font-size: 30px;
  display: block;
  position: absolute;
  right: 5%;
  left: 5%;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  top: 0;
  text-align: center;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-tap-highlight-color: transparent;
}
#content #popup #btn-container .cancel-btn {
  padding: .8em;
  background: #695b8e;
  font-size: 30px;
  display: block;
  position: absolute;
  left: 5%;
  right: 5%;
  top: 95px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-tap-highlight-color: transparent;
}
#content #category-list ul.category-list {
  padding: 0;
  margin: 0;
  height: 112px;
  overflow: hidden;
  background: #f43264;
}
#content #category-list ul.category-list li {
  list-style-type: none;
  line-height: 20px;
  font-weight: bold;
  /*border: 1px solid #fff;*/

  margin: 0;
  display: block;
  position: relative;
  color: #fff;
}
#content #category-list ul.category-list li span.tree-item {
  position: relative;
  font-size: 30px;
  padding-left: 15px;
  height: 111px;
  width: 100%;
  display: block;
  cursor: pointer;
  white-space: nowrap;
  line-height: 110px;
  zoom: 1;
  z-index: 10;
  background: #695b8e;
  border-bottom: 1px solid #ffffff;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-tap-highlight-color: transparent;
}
#content #category-list ul.category-list li .test-btn {
  width: 50%;
  height: 111px;
  background: #ffffff;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 13;
  opacity: .02;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-tap-highlight-color: transparent;
}
#content #category-list ul.category-list li .item-menu {
  width: 278px;
  height: 111px;
  background: #695b8e;
  position: absolute;
  right: 0%;
  top: 0;
  line-height: 111px;
  font-size: 56px;
  z-index: 11;
  color: #ffffff;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-tap-highlight-color: transparent;
}
#content #category-list ul.category-list li .item-menu .add-item {
  position: absolute;
  text-align: center;
  cursor: pointer;
  width: 139px;
  right: 0;
  border-left: 3px solid rgba(255, 255, 255, 0.05);
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-tap-highlight-color: transparent;
}
#content #category-list ul.category-list li .item-menu .remove-item {
  position: absolute;
  text-align: center;
  cursor: pointer;
  width: 139px;
  border-left: 3px solid rgba(255, 255, 255, 0.05);
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-tap-highlight-color: transparent;
}
#content ul.recipe-list {
  padding: 0;
  margin: 0;
  position: relative;
  left: 0;
}
#content ul.recipe-list li span.tree-item {
  position: relative;
  right: 0px;
  width: 100%;
  background: #8a7caf !important;
  height: 107px;
  display: block;
  padding-left: 15px;
  line-height: 55px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-tap-highlight-color: transparent;
}
#content ul.recipe-list li .item-menu {
  width: 139px!important;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-tap-highlight-color: transparent;
}
#content ul.recipe-list li .item-menu .remove-item {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-tap-highlight-color: transparent;
  right: 0;
  background-color: #8a7caf;
}
.save-btn-code {
  padding: .8em;
  background: #695b8e;
  font-size: 30px;
  display: block;
  position: absolute;
  right: 5%;
  left: 5%;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  top: 0;
  text-align: center;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-tap-highlight-color: transparent;
}
.cancel-btn-code {
  padding: .8em;
  background: #695b8e;
  font-size: 30px;
  display: block;
  position: absolute;
  left: 5%;
  right: 5%;
  top: 95px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-tap-highlight-color: transparent;
}
/** {
   -webkit-tap-highlight-color:  rgba(0, 0, 0, 0) !important; 
   -webkit-tap-highlight-color: transparent;
  
}*/