<div id="popup">
     <input placeholder="Category name" name="textarea" id="category-input"></input>   
    <div id="btn-container">      
        <div class="save-btn">Save</div>
        <div class="cancel-btn">Cancel</div>
    </div>
</div>