<!--<div class="category">

    <%= category%>
     
</div>
<div class="item-menu">
    add recipe
</div>
<div class="recipe-list">
<ul>
    <% if(typeof(items) != 'undefined') {_.each(items, function(item,i){ console.log(i,item.get('title'))%>
    <li> <%= item.get('title') %> </li>
    <% });} %>
</ul>


</div>-->