<div id="create-recipe">
    <input placeholder="Title"  id="recipe-title-input"></input>  
    <br />
    <textarea placeholder="add recipe"  id="recipe-content-input"></textarea> 
    <div id="btn-container">      
        <div class="save-btn">Save</div>
        <div class="cancel-btn">Cancel</div>
    </div>
</div>