
@import "variables.less";

html,body {
    margin:0;
    padding:0;
    font-family:Arial;
    height:100%;
    position:relative;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0) !important; 
    -webkit-tap-highlight-color: transparent;
 
}
a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}


#container {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    background:@extra-light-magenta;

       #recipe-view {
        position:absolute;
        width:100%;
        height: 100%;
        z-index:2;
    }
        #home-view {
        position:absolute;
        width:100%;
        height: 100%;
        z-index:1;
    }


    header {
        width: 100%;
        height: 100px;
        background: @dark-grey;
        color: #fff;
        text-align: center;
        line-height: 80px;
        position: relative;
        font-size:30px;
        text-transform: uppercase;
        font-weight: bold;
        line-height:100px;
        -webkit-tap-highlight-color:  rgba(255, 255, 255, 0) !important; 
         -webkit-tap-highlight-color: transparent;

        #add-category-btn {
            width: 140px;
            height: 100px;
            background: @dark-grey;
            position: absolute;
            top:0;
            right:0;
            cursor: pointer;
            font-size:55px;
            color:@white;
            -webkit-tap-highlight-color: rgb(255, 0, 0)!important;
            border-left:3px solid @button-border;
 
        }

        #back-btn {
            width: 140px;
            height: 100px;
            background: @dark-grey;
            position: absolute;
            top: 0;
            left: 0;
            cursor: pointer;
            
             border-right:3px solid @button-border;
            -webkit-tap-highlight-color:  rgba(255, 255, 255, 0) !important; 
            -webkit-tap-highlight-color: transparent;

            }
     }
}

#content {
    width: 100%;
    height: 100%;
    position: relative;

    #recipe-info {
        padding: 20px;
        font-size: 30px;
    }

    #create-recipe {
        position: absolute;
        z-index: 25;
        width: 100%;
        height: 100%;
        right: 0;
        left: 0;
        top: -100px;
        background: @dark-grey;
        border: 3px solid @button-border;

        #btn-container {
            width: 100%;
            margin: 0 auto;
            position: absolute;
            bottom: 190px;


            .save-btn {
                .save-btn-code;
            }

            .cancel-btn {
                .cancel-btn-code;
            }
        }

        #recipe-title-input {
            left: 5%;
            right: 5%;
            top: 20px;
            font-size: 24px;
            height: 60px;
            position: absolute;
        }

        #recipe-content-input {
            font-family: Arial;
            left: 5%;
            right: 5%;
            position: absolute;
            top: 120px;
            font-size: 24px;
            height: 35%;
        }

        .save-btn {
            .save-btn-code;
        }

        .cancel-btn {
            .cancel-btn-code;
        }
    }

    #popup {
        position: absolute;
        z-index: 200;
        width: 100%;
        height: 100%;
        background: @dark-grey;
        border: 3px solid @button-border;
        top: -100px;

        input#category-input {
            position: absolute;
            left: 5%;
            right: 5%;
            top: 5%;
            font-size: 45px;
            height: 100px;
            display: block;
            z-index: 26;
        }


        #btn-container {
            width: 100%;
            margin: 0 auto;
            position: absolute;
            bottom: 190px;


            .save-btn {
                .save-btn-code;
            }

            .cancel-btn {
                .cancel-btn-code;
            }
        }
    }

    #category-list {


        ul.category-list {
            padding: 0;
            margin: 0;
            height: 112px;
            overflow: hidden;
            background: #f43264;


            li {
                list-style-type: none;
                line-height: 20px;
                font-weight: bold;
                /*border: 1px solid #fff;*/
                margin: 0;
                display: block;
                position: relative;
                color: #fff;


                span.tree-item {
                    position: relative;
                    font-size: 30px;
                    padding-left: 15px;
                    height: 111px;
                    width: 100%;
                    display: block;
                    cursor: pointer;
                    white-space: nowrap;
                    line-height: 110px;
                    zoom: 1;
                    z-index: 10;
                    background: @purple;
                    border-bottom: 1px solid @white;
                    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
                    -webkit-tap-highlight-color: transparent;
                }

                .test-btn {
                    width: 50%;
                    height: 111px;
                    background: @white;
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 13;
                    opacity: .02;
                    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
                    -webkit-tap-highlight-color: transparent;
                }

                .item-menu {
                    width: 278px;
                    height: 111px;
                    background: @purple;
                    position: absolute;
                    right: 0%;
                    top: 0;
                    line-height: 111px;
                    font-size: 56px;
                    z-index: 11;
                    color: @white;
                    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
                    -webkit-tap-highlight-color: transparent;

                    .add-item {
                        position: absolute;
                        text-align: center;
                        cursor: pointer;
                        width: 139px;
                        right: 0;
                        border-left: 3px solid rgba(255, 255, 255, .05);
                    }

                    .remove-item {
                        position: absolute;
                        text-align: center;
                        cursor: pointer;
                        width: 139px;
                        border-left: 3px solid rgba(255, 255, 255, .05);
                    }
                }
            }
        }
    }

    ul.recipe-list {
        padding: 0;
        margin: 0;
        position: relative;
        left: 0;

        li {
            span.tree-item {
                position: relative;
                right: 0px;
                width: 100%;
                background: @light-purple!important;
                height: 107px;
                display: block;
                padding-left: 15px;
                line-height: 55px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
                -webkit-tap-highlight-color: transparent;

                
            }

            .item-menu {

                width:139px!important;

                    .remove-item {
                        right: 0;
                        background-color:@light-purple;
                    }
                }
        }
    }
}

.save-btn-code {
        position:absolute;
       padding: .8em;
        background: @purple;
        font-size: 30px;
        display: block;
        position: absolute;
        right: 5%;
        left:5%;
        cursor: pointer;
        font-weight: bold;
        color: @white;
        top:0;
         text-align:center;
        -webkit-tap-highlight-color:  rgba(255, 255, 255, 0) !important; 
        -webkit-tap-highlight-color: transparent;
}

.cancel-btn-code {
    position:absolute;
    padding: .8em;
    background: @purple;
    font-size: 30px;
    display: block;
    position: absolute;
    left: 5%;
    right:5%;
    top:95px;
    cursor: pointer;
    font-weight: bold;
    text-align:center;
    color:@white;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0) !important; 
    -webkit-tap-highlight-color: transparent;
}

* {
   -webkit-tap-highlight-color:  rgba(0, 0, 0, 0) !important; 
    -webkit-tap-highlight-color: transparent;
  
}